
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
              All Courses            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>course title</th>
                            <th>description</th>
                            <th>control</th>

                        </tr>
                        </thead>
                        <tbody>

                        <?php
                        if(count($courses)>0)
                        {
                        foreach($courses as $course)
                        {
                        $coid = $course['course_id'];
                        $title = $course['course_title'];
                        $des= $course['course_description'];

                        echo "<tr>
                            <td><a href='updatecourse.php?id=$coid'> $title </a></td>
                            <td>$des</td>
                            <td>
                                <a href='updatecourse.php?id=$coid' class='btn btn-info'><i class='icon-refresh'></i> Update</a>
                                <a href='deletecourse.php?id=$coid' class='btn btn-danger'><i class='icon-trash'></i> Delete</a>
                            </td>
                        </tr>";
                        }
                        }
                        else
                        {
                        echo '<tr><td colspan="3">No courses Found</td></tr>';
                        }
                        ?>
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>
