

<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->

<ul class="sidebar-menu" id="nav-accordion">
    <li>
        <a class="active" href="index.php">
            <i class="icon-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" >
            <i class="icon-laptop"></i>
            <span>courses</span>
        </a>
        <ul class="sub">
            <li><a  href="courses.php">All courses</a></li>
            <li><a  href="addcourse.php">Add course</a></li>

        </ul>
    </li>

</ul>


        <!-- sidebar menu end-->
    </div>
</aside>


<!--header end-->
<!--sidebar start-->

<!--sidebar end-->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">

        <?php echo getErrors(); ?>